// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// @import "primeng/resources/themes/lara-light-purple/theme.css";
// @import "primeng/resources/primeng.css";


/** Ionic CSS Variables **/
:root {
    /** Primary Colors **/
    --ion-color-primary: #425CC7; /* Color primario del tema Aura */
    --ion-color-primary-rgb: 66, 92, 199;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3549a3;
    --ion-color-primary-tint: #5a6fd1;
  
    /** Secondary Colors **/
    --ion-color-secondary: #6AAAE4; /* Color secundario del tema Aura */
    --ion-color-secondary-rgb: 106, 170, 228;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #5a92c3;
    --ion-color-secondary-tint: #7bb8e8;
  
    /** Background and Text Colors **/
    --ion-background-color: #F4F4F4; /* Fondo claro */
    --ion-text-color: #000000; /* Texto oscuro */
  
    /** Dark Mode Colors **/
    --ion-background-color-dark: #1E1E1E; /* Fondo oscuro */
    --ion-text-color-dark: #FFFFFF; /* Texto claro */
  
    /** Other Colors **/
    --ion-color-danger: #EA0249;
    --ion-color-warning: #CAAE7A;
    --ion-color-success: #28a745;
    --ion-color-info: #17a2b8;
  
    /** Font **/
    --ion-font-family: 'Poppins', sans-serif;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --ion-background-color: var(--ion-background-color-dark);
      --ion-text-color: var(--ion-text-color-dark);
    }
  }
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Italic';
    src: url('../assets/fonts/Poppins/Poppins-Italic.ttf');
    font-weight: 600;
    font-style: normal;
}